body {
   background-image: url("https://us.123rf.com/450wm/panychev/panychev1704/panychev170400037/75666147-dark-blue-and-black-gradient-texture-background-abstract-surface-material.jpg?ver=6");
   background-repeat: no-repeat;
   background-size: cover;
}
#modlist{
	display: flex; /* or inline-flex */
	margin-left: 24vw;
	font-size: 1.5vw;
	color:lightblue;
}
#moditem{
	padding:2vw;
	border: solid blue 25px
}