body {
   background-image: url("https://us.123rf.com/450wm/panychev/panychev1704/panychev170400037/75666147-dark-blue-and-black-gradient-texture-background-abstract-surface-material.jpg?ver=6");
   background-repeat: no-repeat;
   background-size: cover;
}
#modlist-1{
	display: flex; /* or inline-flex */
	margin-left: 15vw;
	color:lightblue;
	width: 33%;
}
#modlist-2{
	display: flex; /* or inline-flex */
	margin-left: 15vw;
	color:lightblue;
	width: 33%;
}
#moditem{padding:2vw;}
#moditem #item{
	border: solid blue 0.6vw;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 2vw #9ecaed;
}
#moditem #text{
	float:left;
	font-size: 1.5vw;
}
img{height:10vw;width:10vw}