@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext&display=swap);

:root {
	--font-main: Play, sans-serif;
    --font-mono: "Roboto Mono", sans-serif;
    --bold: 700;

    --color-dark: #2D3943;
    --color-light: #f0f0f0;
    --color-main: #2b87d3;
    --color-danger: #F62451;
    --color-success: #1fd78d;
    --color-warn: #EB7B59;
    --color-loading: #A4A4A4;

    --color-dark-mode: #161c21;
    --color-dark-text: #47535D;
    --color-dark-mark: #40505c;
	--color-dark-hover: #47535D;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
	background-image: url("https://us.123rf.com/450wm/panychev/panychev1704/panychev170400037/75666147-dark-blue-and-black-gradient-texture-background-abstract-surface-material.jpg?ver=6");
   background-repeat: no-repeat;
   background-size: cover;
   user-select: none;
   color: white;
}

.title {
    width: 80%;
    color: white;
    display: flex;
    margin: auto;
}

.list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
}
.moderator {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto;
    margin-bottom: 20px;  
}
.moderator .text {
    font-size: 20px;
}
.moderator img {
    max-width: 200px!important;
    border: 3px solid #d9d5ff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


@media(max-width:1200px) {
    .title {
        width: 90%;
    }
    .list {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:700px) {
    .list {
        grid-template-columns: 1fr;
        width: 50%;
    }
}